@model IEnumerable<OnlineShoppingStore.Models.Student>

@{
    Layout = null;
}
<!DOCTYPE html>

<form action=@Url.Action("Asyncsearch") method="get" data-prajat-ajax="true" data-prajat-target="#student" >
    <input type="search" name="SearchTerm"/>
    <input type="submit" value="Search"/>
</form>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AsyncSearch</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div id="student">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RollNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RollNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
